.tastygram {
  background-image: url('../../../src/assets/tastygram.jpg');
}
.ptm {
  background-image: url('../../../src/assets/ptm.jpg');
}
.web33 {
  background-image: url('../../../src/assets/web3.jpg');
}
.underConstruction {
  background-image: url('../../../src/assets/ptm.jpg');
  filter: grayscale(1)
}