@import './variables.scss';

body {
  margin: 0;
  padding: 0 8vw;
  box-sizing: border-box;
  a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.85);
  }

  background-color: #030f33;
  color: rgba(255, 255, 255, 0.85);
  text-decoration: none;
  font-family: $secondary-font;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.gradientText {
  max-width:fit-content;
  font-size: 72px;
  font-family: $secondary-font;
  font-weight: 900;
  background: linear-gradient(90deg, rgb(255, 106, 106) 0%, rgb(255, 228, 108) 40%);
  background-size: 100%;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 0 0 -27px 0;
}

.fadeInLeft {
  animation: fadeInLeft 0.9s cubic-bezier(0,.21,.39,1) forwards;
}

.fadeInRight {
  animation: fadeInRight 0.9s cubic-bezier(0,.21,.39,1) forwards;
  animation-delay: 0.2s;
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translateX(-100px)
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}
@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translateX(100px)
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

@media screen and (max-width: 900px) {
  body {
    padding: 0 6vw;
    .gradientText {
      font-size: 45px;
      line-height: 60px;
    }

  }
}


@media screen and (max-width: 600px) {
  body {
    padding: 0 4vw;
    .gradientText {
      font-size: 30px;
      line-height: 50px;
    }
  }
}

@media screen and (max-width: 400px) {
  body {
    padding: 0 3vw;
    .gradientText {
      font-size: 25px;
      line-height: 45px;
    }
  }
}