@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;400;600;900&display=swap');

$primary-font: 'Source Sans Pro', sans-serif;
$secondary-font: 'Raleway', sans-serif;

$font-size-m: 16px;
$font-size-l: 20px;

$primary-color: cadetblue;

$primary-bg: #030f33;
$secondary-bg: #0e1d4b;